---
layout: base
## define category
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {% if page.category %}
    {% assign posts = site.categories[page.category] %}
    {%- if posts.size > 0 -%}
      <ul class="post-list">
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        {%- for post in posts -%}
        <li>
          <span class="post-meta">{{ post.date | date: date_format }}</span>
          <h3>
            <a class="post-link" href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </h3>
          {%- if site.minima.show_excerpts -%}
            {{ post.excerpt }}
          {%- endif -%}
        </li>
        {%- endfor -%}
      </ul>
    {% else %}
      <h2 class="post-list-heading">Error: No posts found</h2>
    {%- endif -%}
  {% else %}
      <h2 class="post-list-heading">Error: 'category' not defined</h2>
  {% endif %}
</div>
