---
layout: base
## populate titleAccessory with custom markdown if you like
---
<article class="post">

<!-- Custom Layout Starts Here -->
  <header class="post-header title-flex">
    {% if page.titleAccessory %}
      <div class="title-accessory">
        {{ page.titleAccessory | markdownify }}
      </div>
    {% endif %}
<!-- Custom Layout Ends Here -->
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

</article>
